# Introduction to Python
## Exercise 2: Data Types
### Developed by Matthew Nicoletta for Georgetown Hoyalytics Club
---

When learning a new programming language, it is a long and storied tradition to start with a simple program that prints the phrase "Hello, World!" So let's do that. Click on the cell below and press SHIFT + Enter.

## Strings

In [1]:
# Create a few string variables
my_string = "This is a string."
num_string = "42"

In [2]:
# Note that we can change the value of a variable using the assignment operator (equal sign) 
my_string = "Hoyalytics is awesome."
print(my_string)

Hoyalytics is awesome.

In [3]:
# Use the double equal sign == to test whether two values are equal
num_string == "42"

True

In [4]:
# Strings are NOT numeric values
num_string == 42

False

In [5]:
# Combine (concatenate) strings using the plus sign
print(my_string + num_string)

Hoyalytics is awesome.42

In [6]:
# But you can't combine strings with numbers (this will produce an error)
print(my_string + 42)

TypeError: can only concatenate str (not "int") to str

## Numerics

In [7]:
# This is a float
pi = 3.14

In [8]:
type(pi)

float

In [9]:
# But this is an int
pi_approx = 3

type(pi_approx)

int

In [10]:
# What happens if we assign a decimal value to a variable of type int?
pi_approx = 3.1415926
type(pi_approx)

float

### IMPORTANT NOTE
Python is a dynamically 'typed' language. This means that unlike some languages, variable types do not have to be declared when the variable is created and those types can change when different values are assigned. This makes Python very flexible, but it can get you in trouble if you aren't careful. Python only allows certain operations to be performed on specific data types.

## Booleans

In [11]:
# Create a boolean variable
is_fun = True

In [12]:
type(is_fun)

bool

In [13]:
is_fun = False

In [14]:
is_fun == True

False

## Lists

In [15]:
# Lists are created using square brackets and commas.
my_list = [2, 3, 5, 7]

In [16]:
type(my_list)

list

Lists are indexed. Each element in the list can be referenced by its position. Python indexing starts at 0.

In [17]:
# Show the first item in the list
my_list[0]

2

In [18]:
# Now let's get the third item
my_list[2]

5

You can access items in the list by referencing their position relative to the END by using negative index values

In [19]:
# Let's get the last item in the list
my_list[-1]

7

Lists can contain items of different types.

In [20]:
# Create a list with different data types
random_list = [1, 3.14, "cat", my_list]

In [21]:
random_list[2]

'cat'

In [22]:
# Lists can even contain other lists
random_list[3]

[2, 3, 5, 7]

In [23]:
# You can reference an element of a list inside a list by using two index references. Here, we are accessing the 
# third element of random_list, which is also a list (my_list). By adding a second index of 0, we are asking for
# the first element in THAT list.
random_list[3][0]

2

In [24]:
# Lists can be sorted using the .sort() method. Here we are going to reverse sort the list.
my_list.sort(reverse = True)

In [25]:
my_list

[7, 5, 3, 2]

In [26]:
# Now let's sort it back. We can just use the .sort() method using the default sort order
my_list.sort()
my_list

[2, 3, 5, 7]

In [27]:
# This works for lists of strings too
string_list = ["cat", "apple", "baseball", "donut"]
string_list.sort()
string_list

['apple', 'baseball', 'cat', 'donut']

In [28]:
# But we can't sort lists that have different data types (this code will produce an error)
random_list.sort()

TypeError: '<' not supported between instances of 'str' and 'float'

## Sets

In [29]:
# Sets are collections of unique values. We create sets by using curly braces and commas
my_set = {2, 3, 5, 7}
my_set

{2, 3, 5, 7}

In [30]:
# Sets do not have an order, so you can't get an element via an index (this code will produce an error)
my_set[0]

TypeError: 'set' object is not subscriptable

In [31]:
# Sets don't have any order, so you can't sort them. (this code will produce an error) 
my_set.sort(reverse = True)

AttributeError: 'set' object has no attribute 'sort'

In [32]:
# Sets cannot have duplicate values
my_set = {2, 2, 3, 5, 7, 7, 7, 7}
my_set

{2, 3, 5, 7}

In [33]:
# We can check whether a value is in a set usin the in operator
2 in my_set

True

In [34]:
# And even though they look similar, they are not the same as lists.
my_set == my_list

False

## Tuples

Tuples are like simplified lists. Let's create one and then we'll explore the differences. Tuples are created using parenthesis and commas.

In [35]:
my_tuple = (2, 3, 5, 7)
my_tuple

(2, 3, 5, 7)

In [36]:
# Like lists, tuples are indexed.
my_tuple[0]

2

The main difference between tuples and lists is whether they can be modified. We use the term 'mutable' to denote whether we can make changes to the elements within a collection. Lists are mutable, tuples are not.

In [37]:
# Let's use the .append() method to add an element to the end of the list
my_list.append(11)

my_list

[2, 3, 5, 7, 11]

In [38]:
# Let's see what happens when we try to do this with our tuple (hint: this will produce an error)
my_tuple.append(11)

AttributeError: 'tuple' object has no attribute 'append'

Why would you ever want to use a tuple when you can use a list? Tuples are more memory efficient and looking up values in a tuple can be slightly more efficient (ie, faster) than looking up values in a list. Use a tuple if you hvae a list of elements that you know will not change. Otherwise, use a list.

In [39]:
# You can convert a tuple to a list using the .list method
new_list = list(my_tuple)
new_list

[2, 3, 5, 7]

In [40]:
type(new_list)

list

### Other List Operations
Here is a quick demo of some other things you can do with lists, since they are mutable. This is not exhaustive, just some examples of adding, changing, and removing elements.

In [41]:
# change a list element using the assignment operator. 

# Change the first element (2) to a new value (100)
my_list[0] = 100
my_list

[100, 3, 5, 7, 11]

In [43]:
# We can remove the last element in the list using the .pop() method
element = my_list.pop()
my_list

[100, 3, 5, 7]

In [45]:
# We assigned the popped element to the variable element (but this wasn't necessary to remove it)
element

11

In [46]:
# We can also insert values at any position in the list using the .insert() method

# insert the value 500 at position 0
my_list.insert(0, 500)
my_list

[500, 100, 3, 5, 7]

## Dictionaries
Dictionaries use key/value pairs to store information. You can then look up a value using the key. Keys should be unique, but values can be repeated.

In [47]:
# Create a dictionary by using curly braces and commas, just like a set; however, each element has two parts
# the key and the value, separated by a colon

my_dict = {
    "firstname": "Arthur",
    "lastname": "Dent",
    "location": "Earth"
}

In [48]:
my_dict["firstname"]

'Arthur'

## DateTimes
Python actually has a number of date and type types and there are some complexities to working with them. For now, let's just look at how the basic datetime type works. Note that there is not a native datetime data type, so we have to import a package. We'll talk more about packages later.

In [53]:
# Load the datetime package
import datetime

# create a new date for May 21, 2021
my_date = datetime.datetime(2021, 5, 21)

In [52]:
print(my_date)

2021-05-21 00:00:00